.portrait{
    text-align: center;
    width: 100%;
    align-items: center;
}
.me{
    border-radius: 500px;
    width: 50%;
}
.rightArrow{
    text-align: right;
    right: 10px;
}
.leftArrow{
    text-align: left;
}
.leftArrow,
.rightArrow {
    position: absolute;
    top: 350px;
    width: 25%;  
}
