.portrait{
    text-align: center;
    display: inline-flex;
    width: 100%;
    align-items: center;
}
.me{
    border-radius: 500px;
    width: 50%;
}
.rightArrow{
    text-align: right;
}
.leftArrow{
    text-align: left;
}
.leftArrow,
.rightArrow {
    display: inline;
    top: 666px;
    width: 25%;  
}
