.subTitle{
    text-decoration: underline;
    text-align: center;
}
.main_nav{
    display: inline-flex;
    border: 10px solid green;
}
.about{
    font-size: 15px;
}
.main_inactive{
    max-width: 0px;
    overflow: hidden;
}
.main_content-inactive{
    border: 2px solid brown;
}
